h1 a, h1 a:hover, h1 a:link, h1 a:visited{
			color: #222;
			text-decoration: none;
		}

#info{
			padding:10px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: 768px) {
			.form-group {
				width: 40%;
				display: inline-block;
			}
		}

		@media screen and (min-width: 768px) {
			.form-group {
				width: 76%;
				display: inline-block;
			}
		}

		.well {
			height: 500px;
		}

		#chatbox {
			background: rgba(255,255,255,0.9);
			border-radius: 0.1em;
			padding: 5px;
			margin-bottom: 10px;
			height: 90%;
			overflow: auto;
		}

		#chatInput {
			width: 100%;
		}